<div class="table-responsive">
<table class="table table-hover table-bordered">
    <?php echo $breadcrumb;?>
    <tbody>
    <tr class="active"><th>文件</th><th>大小</th><th>修改时间</th><th>操作</th></tr>
    <?php if (!empty($path)) {?>
    <tr><td colspan="4"><a href="?p=<?php echo urlencode(substr(urldecode($path), 0, strrpos(urldecode($path), '/')));?>"><span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span></a></td></tr>
    <?php } if (!empty($catalogInfo) && is_array($catalogInfo)) {?>
    <?php foreach($catalogInfo as $info) {
        $view = $info['type'] == 'files'? "?p={$path}&file={$info['name']}": '?p=' . urlencode(trim($path . '/' . $info['name'], '/'));
        $del = '';
        $down = $view . '&a=down';
    ?>
    <tr>
        <td>
            <?php if ($info['type'] == 'files') {?>
            <a href="<?php echo $view;?>"><span class="glyphicon glyphicon-file" aria-hidden="true" style="color:#222222;"><?php echo $info['name']?></span></a>
            <?php } else {?>
            <a href="<?php echo $view;?>"><span class="glyphicon glyphicon-folder-close" aria-hidden="true" style="color:#222222;"><?php echo $info['name']?></span></a>
            <?php } ?>
        </td>
        <td><?php echo $info['size']?></td>
        <td><?php echo $info['modifiedTime']?></td>
        <td>
            <?php if ($info['type'] == 'files') {?>
            <!-- <a href="<?php echo $del;?>"><span class="glyphicon glyphicon-trash" aria-hidden="true" style="color:#ff272d;"></span></a>-->
            <a href="<?php echo $down;?>"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true" style="color:#2E5CD5;"></span></a>
            <?php }?>
        </td>
    </tr>
    <?php }} else {?>
    <tr><td colspan="4">Folder is empty</td></tr>
    <?php }?>
    </tbody>
</table>
</div>
