<body style="margin:15px;">
<div class="table-responsive">
<table class="table table-hover table-bordered">
    <?php $breadcrumb = explode('/', urldecode($path));?>
    <ol class="breadcrumb">
        <a href="?p="><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
        <?php foreach ($breadcrumb as $item) {
            if (empty($item)) {continue;}
            $position = isset($position)? urlencode($position . '/' . $item): $item;
        ?>
        <li><a href="?p=<?php echo $position;?>"><?php echo $item?></a></li>
        <?php }?>
    </ol>
    <tbody>
    <tr class="active"><th>文件</th><th>大小</th><th>修改时间</th><th>操作</th></tr>
    <?php if (!empty($path)) {?>
    <tr><td colspan="4"><a href="?p=<?php echo urlencode(substr(urldecode($path), 0, strrpos(urldecode($path), '/')));?>"><span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span></a></td></tr>
    <?php } if (!empty($catalogInfo) && is_array($catalogInfo)) {?>
    <?php foreach($catalogInfo as $info) {
        $view = $info['type'] == 'files'? "?p={$path}&template={$info['name']}": '?p=' . urlencode(trim($path . '/' . $info['name'], '/'));
        $del = '';
    ?>
    <tr>
        <td>
            <?php if ($info['type'] == 'files') {?>
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            <?php } else {?>
            <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
            <?php } echo $info['name']?>
        </td>
        <td><?php echo $info['size']?></td>
        <td><?php echo $info['modifiedTime']?></td>
        <td>
            <a href="<?php echo $view;?>"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
            <a href="<?php echo $del;?>"><span class="glyphicon glyphicon-trash" aria-hidden="true" style="color:#ff272d;"></span></a>
        </td>
    </tr>
    <?php }} else {?>
    <tr><td colspan="4">Folder is empty</td></tr>
    <?php }?>
    </tbody>
</table>
</div>
</body>
